<% layout("/layouts/boilerplate") %>

<div class="container form-container">
    <h3 class="page-heading">Edit <span>Listing</span></h3>

    <form 
        method="POST" 
        action="/listings/<%= listing._id %>?_method=PUT"
        class="listing-form needs-validation shadow-sm p-4 rounded" 
        novalidate
        enctype="multipart/form-data"
    >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" name="listing[title]" value="<%= listing.title %>" placeholder="Enter Title"
                type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Please enter a title</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" name="listing[description]" placeholder="Enter Description"
                class="form-control" required><%= listing.description %></textarea>
            <div class="valid-feedback">Description looks good!</div>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Original Listing Image</label>
            <img src="<%=originalImageURL%>">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input id="image" name="listing[image]" type="file" class="form-control">
            <div class="valid-feedback">Image looks good!</div>
            <div class="invalid-feedback">Please upload an image</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 mb-3 mb-md-0">
                <label for="price" class="form-label">Price</label>
                <input id="price" name="listing[price]" value="<%= listing.price %>" placeholder="Enter Price"
                    type="number" class="form-control" required>
                <div class="valid-feedback">Price looks good!</div>
                <div class="invalid-feedback">Please enter a valid price</div>
            </div>

            <div class="col-md-6">
                <label for="country" class="form-label">Country</label>
                <input id="country" name="listing[country]" value="<%= listing.country %>"
                    placeholder="Enter Country" type="text" class="form-control" required>
                <div class="valid-feedback">Country looks good!</div>
                <div class="invalid-feedback">Please enter a valid country</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input id="location" name="listing[location]" value="<%= listing.location %>"
                placeholder="Enter Location" type="text" class="form-control" required>
            <div class="valid-feedback">Location looks good!</div>
            <div class="invalid-feedback">Please enter a valid location</div>
        </div>

        <div class="text-center">
            <button class="btn custom-form-btn">Save Changes</button>
        </div>
    </form>
</div>
<script src="/js/script_form_validation.js"></script>