<% layout("/layouts/boilerplate") %>

<script>
    window.LISTINGS_DATA = <%- JSON.stringify(listings) %>;
</script>

<div class="container">

    <div class="filter-bar-wrapper">

        <div class="scroll-arrow" onclick="scrollFilters(-200)">
            <i class="fa-solid fa-chevron-left"></i>
        </div>

    <!-- FILTER LIST -->
        <div id="filters">

            <div class="filter active">
                <i class="fa-solid fa-fire"></i>
                <p>Trending</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-bed"></i>
                <p>Rooms</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-city"></i>
                <p>Iconic Cities</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-mountain"></i>
                <p>Mountains</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-chess-rook"></i>
                <p>Castles</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-person-swimming"></i>
                <p>Amazing Pools</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-campground"></i>
                <p>Camping</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-tractor"></i>
                <p>Farm</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-snowflake"></i>
                <p>Arctic</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-umbrella-beach"></i>
                <p>Beach</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-sailboat"></i>
                <p>Boat</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-person-skiing"></i>
                <p>Ski-in/out</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-building"></i>
                <p>Apartment</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-bolt-lightning"></i>
                <p>New</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-tree"></i>
                <p>Woodlands</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-water"></i>
                <p>Lake</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-house-chimney"></i>
                <p>Cabins</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-hill-rockslide"></i>
                <p>Countryside</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-mug-hot"></i>
                <p>Cozy Inns</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-tent"></i>
                <p>Campsite</p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-landmark"></i>
                <p>Domes</p>
            </div>

        </div>

        <!-- RIGHT ARROW -->
        <div class="scroll-arrow" onclick="scrollFilters(200)">
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <!-- TAX CARD -->
        <div class="tax-card-wrapper">
            <div class="tax-card">
                <div class="form-switch d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label ms-3 mb-0 switch-text" for="flexSwitchCheckDefault">
                        Display Taxes
                    </label>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- <h2 class="page-heading">All <span>Listings</span></h2> -->

<div class="container pb-5 mt-5">
    <div class="row justify-content-center g-4">
        <%for(let listing of listings){%>
            <div class="col-lg-4 col-md-6 col-sm-12 listing-wrapper" data-id="<%= listing._id %>">
                <a href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card listing-card h-100">
                        <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=listing.title%>
                            </h5>
                            <p class="card-text text-muted mb-0 price" data-base-price="<%=listing.price%>">
                                ₹ <%=listing.price.toLocaleString("en-IN")%> / night
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <%}%>
    </div>
</div>

<script src="/js/scroll_filters.js"></script>
<script src="/js/display_taxes.js"></script>